### Representacion de los datos

In [19]:
import pandas as pd
import json

In [21]:
data = pd.read_parquet("D:/TFGAlvaroSanchez/prueba/resultados/")

f = open("D:/TFGAlvaroSanchez/prueba/georef-spain-municipio.geojson")
dataMap = json.load(f)

In [22]:
display(data)

,año,nOlasCalor,duracionMedia,avgTmax,maxTmax,minTmax,provincia
0,2012,1,4.000000,41.450000,42.4,40.3,Badajoz
1,2013,1,5.000000,40.380000,40.8,40.0,Badajoz
2,2016,1,4.000000,40.750000,41.7,40.3,Badajoz
3,2017,6,4.666667,42.041667,45.4,40.0,Badajoz
4,2018,6,5.666667,42.385000,44.7,40.1,Badajoz
...,...,...,...,...,...,...,...
79,2021,1,4.000000,41.650000,43.3,40.2,Valencia/Valencia
80,2022,1,5.000000,40.660000,41.1,40.1,Valladolid
81,2022,1,6.000000,41.280000,41.8,40.4,Zamora
82,2019,2,4.000000,42.065000,43.1,40.7,Zaragoza
83,2022,2,5.500000,41.360000,43.0,40.4,Zaragoza

In [ ]:
import plotly.express as px

fig = px.choropleth(df, geojson=dataMap
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()